@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Quicksand:wght@500&display=swap');

html, body{
    padding: 0;
    margin:0;

}
header{
    display: flex;
    justify-content: space-between; /*push the thing the the side to left and right*/
    align-items: center;
    background-image: url(istockphoto-944880340-170667a.jpg);
    padding-bottom: 0%;
}

nav{
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: right;
}
.nav-links{
    text-align: center;
}

.nav-links li{
    display: inline-block; /* so it goes side by side not up and down*/
    padding: 0px 40px;
    text-decoration: none;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color:white;
    font-size: 15px;
}

.nav-links li a:hover{ /*change of color occurs when our mouse is on top of it*/
    color:rgb(243, 222, 106);
}

ol li a{
    font-family: 'Quicksand', sans-serif;
}

.logopage{
    cursor: pointer;
    width: 5%;
    height: 5%;
    padding-top: 2%;
    padding-bottom: 0;
    align-content: right;
}
h1{
    margin:0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    font-weight: lighter;
    background-image: url(bg4.jpg);
    color: ivory;
}

h2{
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size: 40px;
    background-image:linear-gradient(45deg,rgb(255, 217, 0),rgb(243, 228, 204));
    border-radius: 30px;
    margin-top: 20px;
}


h3{
    align-items: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 10%, 10%, 10%,10%;
}

.throwback{
    background-image: linear-gradient(5deg,rgba(106,65,125,255),rgba(202,102,76,255));
    height: 40px;
    padding-top: 10%;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
    color:white;
    font-weight: bolder;
}

h3 p{
    padding-left: 10%;
    padding-right: 10%;
}

.link{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color:blueviolet;
    text-decoration: none;
}

table{
    table-layout: auto;;
    border-collapse: collapse;
    border:3px solid purple;
}

th,td {
    border: 3px solid purple;
  }

hr {
    width: 100%;
    border-style: groove;
    height: 100%;
    border-style:solid;
    color:black;
}

ol{
    padding-left: 45%;
    font-weight: 200;
    font-size: 115%;
}

footer{
    background-image: url(istockphoto-944880340-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
